@page "/posts/{Id:int}"

@using Models.DTOs.Post
@using Platform.Web.Shared.Components;

@inject IPostDataService PostService
@inject NavigationManager NavigationManager

@attribute [Authorize]

@if (Post != null)
{
    <div class="card m-4" style="width: 18rem;">
        <Avatar UserProfile="Post.Author"/>
        @if (!string.IsNullOrEmpty(Post.Image))
        {
            <img class="card-img-top"
         src="@Post.Image"
         alt="Card image cap">
        }
        <div class="card-body">
            <p class="card-text">@Post.Name</p>
            <p class="card-text">@Post.Description</p>
        </div>
        <p>comments: @Post.CommentsCount</p>
        <p>like: @Post.Likes</p>
    </div>

    <CommentList PostId="Post.Id" />
}

@code {
    [Parameter]
    public int Id { get; set; }

    private PostDto Post { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Post = await PostService.Get(Id);
    }
}
